@use "../../scss/variable.module.scss";
@use "../../scss/colors.module.scss";


div.activity {
    .recharts-wrapper {
        .recharts-legend-wrapper {
            .activity-legend-container {
                display: flex;
                align-items: center;

                span {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 24px;
                }

                .activity-legend {
                    display: flex;
                    align-items: center;

                    .legend-circle {
                        border-radius: 50%;
                        width: 8px;
                        height: 8px;
                        margin-right: 10px;
                        margin-left: 20px;
                    }

                    span {
                        font-size: 14px;
                        color: colors.$colorTypoGrey ;
                        margin-right: 20px;
                    }
                }

                .flex-1 {
                    flex: 1;
                }
            }
        }
    }
}