@use "../../scss/variable.module.scss";
@use "../../scss/colors.module.scss";

div.objectif {
    background-color: colors.$colorGreyBackground;

    .recharts-wrapper {
        .recharts-legend-wrapper {
            text-align: center;
            width: 100%;

            .score-container {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                background-color: colors.$backgroundSite;
                border-radius: 50%;


                .score {
                    display: flex;
                    justify-content: center;
                    align-items: end;
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: colors.$colorTypoBlack;
                    width: 100%;
                    height: 100%;
                }

                p.description {
                    font-size: 1rem;
                    color: colors.$colorTypoGrey;
                    padding-bottom: 75px;
                }
            }
        }
    }
}