//========================================= OC-12 SPORTSEE ===========//
// COLORS ============================================================//
//==================================== By NEAH ================ 2024 =//

// Colors Global -- --------------------------------------------------//
$backgroundSite: #ffffff !default;
$backgroundSiteLight: #ffffff !default;
$backgroundSiteDark: #020203 !default;

$backgroundFooter: #020203 !default;
$backgroundGlobalElement: #FF0101 !default;
$colorGreyBackground : #FAFAFA;

// Colors Components ------------------------------------------------//
$colorMain : #FF0101;
$colorSecondary : rgba(196, 196, 196, 0.5);
$colorTernary : rgba(255, 1, 1, 0.7);
$colorWhite : #FFFFFF;
$colorBlack : #000000;
$colorGrey : #282D30;

$backgroundCard: #F6F6F6 !default;


// Colors Typo ------------------------------------------------------//
$colorTypoGrey : #9B9EAC;
$colorTypoGreyBis :#282D30;
$colorTypoBlack : #000000;
$colorTypoWhite : #FFFFFF;