//==========================================OC-12 SPORTSEE ===========//
// TYPO ==============================================================//
//================================== By NEAH ================= 2024 ==//
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$fontDefault : "Roboto",
sans-serif;
$fontSizeRoot : 16px;
$fontSizeDefault : 1.0rem;
$fontSizeTitle : 1.2rem;

// Colors Global -- --------------------------------------------------//
$backgroundSite: #ffffff !default;
$backgroundSiteLight: #ffffff !default;
$backgroundSiteDark: #353535 !default;

$backgroundFooter: #353535 !default;
$backgroundGlobalElement: #9356dc !default;
$colorGreyBackground : #FAFAFA;

// Colors Components ------------------------------------------------//
$colorMain : #901C1C;
$colorSecondary : #D3573C;
$colorTernary : #DB8876;

$backgroundCard: #ffffff !default;


// Colors Typo ------------------------------------------------------//
$colorTypoGrey : #757575;
$colorTypoGreyBis :#312E2E;
$colorTypoBlack : #000000;
$colorTypoWhite : #ffffff;